
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cd 
{
    font-style: italic  ;
    font-display: 4px;
    color: brown;
    text-decoration:line-through; 
    display: inline-block;
    padding-top: 10px;
}
li{
 display: inline;
 padding:15px 10px;
 
}
ul
{
    text-align-last: right;
    padding-top:20px ;
}
a{
    text-decoration: none;
    color: crimson; 
    
}
.b a:hover
{
    color: black;
}
.n
{
    background-color:aqua;
    display: flex;
    justify-content: space-around;
}
.c{
    padding-bottom: 15px;
}
h1{
    font-style: italic  ;
    font-display: 4px;
    color: brown; 
    text-decoration: line-through;
    display: inline-block;
    padding-top: 10px;
}
.in
{
min-height: 100vh;
text-align: center;
background: url("images/b1.webp") no-repeat center/cover;
display: flex;
align-items: center;


}

.kn{
    font-style: italic;
    background-color:rgb(134, 241, 241) ;
    color: rgb(12, 16, 226);
padding: 3px;
box-shadow: 3px;
}
.kn:hover{ color: black;

}
h2{
    text-align: center;
    color: brown;
}
.about
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 250, 250);
}
.abt{

padding: 30px;
}
.card-image
{
    height: 15vw;
    object-fit: cover;
}
.cards
{
    margin: 30px;
    padding: 10px;
}
.cards-cntr
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    text-align: center;
}
.card{

    align-items: center;
    border: 1px solid cornflowerblue;
    padding: 30px;
    margin: 10px;
    box-shadow: 0 0 7px 4px chocolate;

}
.card-info
{
    font-family: Arial, Helvetica, sans-serif;
}
.gal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;
    text-align: center;
    box-shadow: 0 0 7px 4px chocolate;
    border: 1px solid cornflowerblue;
    padding: 30px;
    margin: 10px;



}
.f
{
    padding-top: 40px;
    background-color:black;

}
.list
{
    text-align: right;
    text-transform: uppercase;color: brown;

}
.list:hover
{
    color: rgb(230, 227, 227);
}
h6{
    color: aliceblue;
}
