
a{
    color:blueviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}
.sin
{
    background: url("images/ice.jpg") center/cover no-repeat;
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: blue;
}
h2{
    text-align: center;
    

}
.up
{
    background:url("images/ice.jpg") center/cover no-repeat;
}
a:hover
{
color: rgb(255, 127, 127);
}

h3{
    text-align: center;
    border: solid;
    border-style: dotted;
    
}
.f{
    text-align: center;
padding: 10px;
}
.l{
    text-align: center;
padding: 10px;
}
.e{
    text-align: center;
padding: 10px;
}
.p{
    text-align: center;
padding: 10px;
}
.dob{
    text-align: center;
padding: 10px;
}
.s{
    text-align: center;
padding: 10px;

}
.g{
    text-align: center;
padding: 10px;
}
.ws{
    text-align: center;
padding: 10px;
}
.des
{
    text-decoration: line-through;
    font-style: italic;
}
.nu{
    text-transform: uppercase;
    background-color: black;
    background: url("images/ice.jpg") center/cover no-repeat;
    
}
li
{
color: rgb(8, 7, 8);
}
dd{
color:aliceblue
}
h4{
    text-decoration: line-through;
    color:brown ;
    text-align-last: center;
    font-style: italic;
    font-size: larger;


}
.r{
    background:url("images/istockphoto-.jpg") no-repeat center;
    text-shadow: 2px;
    color: aliceblue;
    
    
}

.im
{
    box-shadow: 0 0 4px 4px chocolate;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    padding-left: 35px;
    

}
.img1
{
    padding-left: 1050px;
    
}
.home {
    background: url("images/ice.jpg")  center/cover  no-repeat; 
    background-color:aquamarine;
}
.con{
    background: url("./images/contact.jfif") no-repeat center/cover;
    box-shadow: 0 0 4px 4px chocolate;
    border-radius: 10px;
}