*
{
    padding :0;
    margin :0;
    border :0;
    box-sizing: border-box;
}
ul{
background-color: rgb(12, 12, 212);

}
a{
    color: rgb(55, 228, 32);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}
li{
    
    display:inline;

}
h1{
    text-transform: uppercase;
    text-align: center;
    color: blue;
}
a:hover
{
color: rgb(255, 127, 127);
}

